.top_area {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.middle_area {
  display: flex;
}

.packet_info_area {
  width: 38%;
  overflow: auto;
  margin: 0 5px;
}

.packet_info_area > table {
  width: 100%;
  border-collapse: collapse;
}

.packet_info_area > table > tbody > tr > td {
  height: 2.89vh;
}

thead {
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

thead > tr > th {
  border: 1px dotted #000000;
  text-align: center;
  background-color: bisque;
  font-size: 0.9em;
}

tbody > tr > td {
  border: 1px dotted #000000;
  text-align: center;
  font-size: 0.825em;
}

.send_result_area {
  width: 78%;
}

.send_table {
  height: 33vh;
  overflow: auto;
}

.send_table > table {
  border-collapse: collapse;
  width: 200vw;
}

.result_table {
  overflow: auto;
  height: 33vh;
}

.result_table > table {
  border-collapse: collapse;
  width: 200vw;
}

.title {
  font-size: 0.9em;
  font-weight: 700;
  margin: 5px 0;
}

input {
  height: 21px;
  margin: 0 5px;
}

button {
  margin-right: 5px;
}

.warning {
  color: red;
}
